* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background: #111;
    color: #f4f4f4;
    line-height: 1.6;
}

header {
    background: #000;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #e60000;
    font-size: 2.5rem;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: yellow;
}

.container {
    width: 60%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
}

h2 {
    margin-bottom: 9px;
    text-decoration: underline;
}

.car-card {
    background: #222;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.car-card:hover {
    transform: scale(1.03);
}



.car-info {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

.car-info h2 {
    color: #e60000;
    margin-bottom: 10px;
}

.car-info ul {
    list-style: none;
}

.car-info li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #222;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #444;
    text-align: center;
}

th {
    background-color: #e60000;
}

#car-filter {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(194, 120, 9);
}

.top-button {
    display: block;
    text-align: center;
    margin: 40px auto 0;
    padding: 10px 20px;
    background-color: #e60000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    width: fit-content;
}

.car-container {
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 5px;
    color: white;
    max-width: 1000px;
}

.car-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.left-side {
    max-width: 300px;
    height: auto;
}

.left-side img {
    width: 100%;
    border-radius: 8px;
    
}
.car-description{
    min-width: 250px;
    font-size: 16px;
    color: burlywood;
    line-height: 1.5;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.car-container img {
    max-width: 500px;
    height: auto;
}

.center {
    color: rgb(238, 0, 0); 
    border: 3px solid purple;
    text-align: center;
    border-radius: 8px;
    margin: auto;
    width: 150px;
}

.vag {
    color: rgb(238, 0, 0); 
    border: 2px solid purple;
    text-align: center;
    border-radius: 8px;
    margin: auto;
    width: 130px;
}

p {
    border: 1px solid yellow;
    border-radius: 8px;
    padding: 8px;
}

.stage2-btn {
    background-color: #d10000;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.stage2-btn:hover {
    background-color: #a80000;
}

.border {
    color: rgb(238, 0, 0); 
    border: 3px solid purple;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    width: 370px;
}

.start {
    color: rgb(238, 0, 0); 
    border: 3px solid purple;
    border-radius: 8px;
    width: 100px;
    text-align: center;
}
